
### Backend ###
backend/.mvn/wrapper/maven-wrapper.properties
backend/src/main/resources/application.properties
backend/mvnw
backend/mvnw.cmd
backend/.mvn/wrapper/maven-wrapper.jar

### .idea ###
.DS_Store
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/kaardirakendus.iml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/dataSources.xml
.idea/dataSources.xml

### Configuration files ###
/backend/src/main/resources/application.yml
docker-compose.yml
backend/src/main/java/com/synnigeograafia/backend/repository/PersonJDBCDataAccessService.java

### node modules ###
node_modules
package-lock.json
package.json

